<!DOCTYPE html>
<html lang="zxx">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--====== Title ======-->
    <title> Margevity </title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <!--==== Fontawesome ===-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

<body>
    <!--====== Preloader Start ======-->
    <div id="preloader">
        <div class="loader-cubes">
            <div class="loader-cube1 loader-cube"></div>
            <div class="loader-cube2 loader-cube"></div>
            <div class="loader-cube4 loader-cube"></div>
            <div class="loader-cube3 loader-cube"></div>
        </div>
    </div>
    <!--====== Preloader End ======-->

    <!--====== Header Part Start ======-->
    <header class="header-one sticky-header">
        <div class="header-navigation">
            <div class="container-fluid d-flex align-items-center justify-content-between container-1470">
                <div class="header-left">
                    <div class="site-logo">
                        <a href="index.html"><img src="<%= asset_path("logo.png") %>" alt="Margevity"></a>
                    </div>
                </div>
                <div class="header-right d-flex align-items-center justify-content-end">
                    <div class="site-nav-menu">
                        <ul class="primary-menu">
                            <li class="current">
                                <a class="drop" href="#m-about">Our Services</a>
                                <%# <ul class="submenu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                </ul> %>
                            </li>
                            <li>
                                <a href="marktetplace.html">Our Partners</a>
                            </li>
                            <li>
                                <a href="marktetplace.html">About Us</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                        <a href="#0" class="nav-close"><i class="fas fa-times"></i></a>
                    </div>
                    <div class="header-extra d-flex align-items-center">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--====== Header Part End ======-->


    <!--====== Banner Start ======-->
    <section class="banner">
        <div class="shape">
            <img src="<%= asset_path("banner/banner-shap-1.png") %>" class="shape-1" alt="banner-shap">
        </div>
        <div class="shape">
            <img src="<%= asset_path("banner/banner-shap-2.png") %>" class="shape-2" alt="banner-shap">
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="banner-content">
                        <h1 class="head">
                            Margevity, a Digital Creative Agency.
                        </h1>
                        <p class="text">
                            Welcome to Margevity where we help businesses find their Longevity. Take a look around and reach out to us when you're ready to take your business to the next level.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <input type="text" placeholder="Search Here" class="form-control">
                                <button class="main-btn icon"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 wow fadeInUp">
                    <div class="banner-icon">
                        <div class="icon icon-1"><img src="<%= asset_path("banner/icon-1.png") %>" alt="banner-icon"></div>
                        <div class="icon icon-2"><img src="<%= asset_path("banner/icon-2.png") %>" alt="banner-icon"></div>
                        <div class="icon icon-3"><img src="<%= asset_path("banner/icon-3.png") %>" alt="banner-icon"></div>
                        <div class="icon icon-4"><img src="<%= asset_path("banner/icon-4.png") %>" alt="banner-icon"></div>
                        <div class="icon icon-5"><img src="<%= asset_path("banner/icon-5.png") %>" alt="banner-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Banner End ======-->


    <!--====== Partners Start ======-->

    <!--====== Partners End ======-->

    <!--====== Category Start  ======-->
    <section class="category" id="m-about">
        <div class="container">
            <h2 class="title">Our Services</h2>
            <div class="row" >
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a class="thumb">
                            <img src="<%= asset_path("category-1.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Premium Websites
                                </a> 
                            </h4>
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-2.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Hosting
                                </a> 
                            </h4> 
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-3.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Social Media Management
                                </a> 
                            </h4>  
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-4.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Data Analytics & Compilation
                                </a> 
                            </h4>   
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-5.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Custom Logos
                                </a> 
                            </h4>    
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-6.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Tailored Packages
                                </a> 
                            </h4>  
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Category End  ======-->

    <!--====== Featured Start  ======-->
    <!--====== Featured End  ======-->


    <!--====== Unique Themes Start  ======-->
    <section class="unique themes">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6  col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-head">
                        <h2 class="title">Our Partners</h2>
                        <p class="text">Every week, our staff personally hand-pick some of the best new website themes
                            from our collection.</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="themes-box">
                        <div class="thumb">
                            <img src="<%= asset_path("unique-theme/unique-2.png") %>" alt="">
                            <div class="button-box">
                                <a href="product-details.html" class="link link-1"><i class="far fa-eye"></i></a>
                                <a href="#0" class="link link-2"><i class="fas fa-cart-plus"></i></a>
                                <a href="#0" class="link link-3"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="main-content">
                            <h5><a href="product-details.html">Linnor - Digital Agency Wordpress Theme</a></h5>
                            <div class="last-part">
                                <div class="right">
                                    <p class="text">
                                        by <a href="author-product.html" class="link">DivDojo</a> in <a href="product-two.html" class="link">Agency</a>
                                    </p>
                                    <div class="review">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <div class="left-content">
                                    <h3 class="subtitle">$59</h3>
                                    <span>1247 Sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0.4">
                    <div class="themes-box">
                        <div class="thumb">
                            <img src="<%= asset_path("unique-theme/unique-1.png") %>" alt="">
                            <div class="button-box">
                                <a href="product-details.html" class="link link-1"><i class="far fa-eye"></i></a>
                                <a href="#0" class="link link-2"><i class="fas fa-cart-plus"></i></a>
                                <a href="#0" class="link link-3"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="main-content">
                            <h5><a href="product-details.html">Ciknor - Cryptocurrency Wordpress Theme</a></h5>
                            <div class="last-part">
                                <div class="right">
                                    <p class="text">
                                        by <a href="author-product.html" class="link">DivDojo</a> in <a href="product-two.html"
                                            class="link">Business</a>
                                    </p>
                                    <div class="review">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <div class="left-content">
                                    <h3 class="subtitle">$89</h3>
                                    <span>2247 Sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="themes-box">
                        <div class="thumb">
                            <img src="<%= asset_path("unique-theme/unique-3.png") %>" alt="">
                            <div class="button-box">
                                <a href="product-details.html" class="link link-1"><i class="far fa-eye"></i></a>
                                <a href="#0" class="link link-2"><i class="fas fa-cart-plus"></i></a>
                                <a href="#0" class="link link-3"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="main-content">
                            <h5><a href="product-details.html">Metro - E-LEARNING Wordpress Theme</a></h5>
                            <div class="last-part">
                                <div class="right">
                                    <p class="text">
                                        by <a href="author-product.html" class="link">DivDojo</a> in <a href="product-two.html"
                                            class="link">Education</a>
                                    </p>
                                    <div class="review">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <div class="left-content">
                                    <h3 class="subtitle">$29</h3>
                                    <span>1376 Sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="themes-box">
                        <div class="thumb">
                            <img src="<%= asset_path("unique-theme/unique-4.png") %>" alt="">
                            <div class="button-box">
                                <a href="product-details.html" class="link link-1"><i class="far fa-eye"></i></a>
                                <a href="#0" class="link link-2"><i class="fas fa-cart-plus"></i></a>
                                <a href="#0" class="link link-3"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="main-content">
                            <h5><a href="product-details.html">Avvo - Creative Agency & Showcase Theme</a></h5>
                            <div class="last-part">
                                <div class="right">
                                    <p class="text">
                                        by <a href="author-product.html" class="link">DivDojo</a> in <a href="product-two.html"
                                            class="link">Portfolio</a>
                                    </p>
                                    <div class="review">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <div class="left-content">
                                    <h3 class="subtitle">$23</h3>
                                    <span>1742 Sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="themes-box">
                        <div class="thumb">
                            <img src="<%= asset_path("unique-theme/unique-5.png") %>" alt="">
                            <div class="button-box">
                                <a href="product-details.html" class="link link-1"><i class="far fa-eye"></i></a>
                                <a href="#0" class="link link-2"><i class="fas fa-cart-plus"></i></a>
                                <a href="#0" class="link link-3"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="main-content">
                            <h5><a href="product-details.html">Eduvut - Multipurpose Education Template</a></h5>
                            <div class="last-part">
                                <div class="right">
                                    <p class="text">
                                        by <a href="author-product.html" class="link">DivDojo</a> in <a href="product-two.html" class="link">Agency</a>
                                    </p>
                                    <div class="review">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <div class="left-content">
                                    <h3 class="subtitle">$18</h3>
                                    <span>1121 Sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="themes-box">
                        <div class="thumb">
                            <img src="<%= asset_path("unique-theme/unique-6.png") %>" alt="">
                            <div class="button-box">
                                <a href="product-details.html" class="link link-1"><i class="far fa-eye"></i></a>
                                <a href="#0" class="link link-2"><i class="fas fa-cart-plus"></i></a>
                                <a href="#0" class="link link-3"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="main-content">
                            <h5><a href="product-details.html">Aqqua - Spa and Beauty HTML5 Template</a></h5>
                            <div class="last-part">
                                <div class="right">
                                    <p class="text">
                                        by <a href="author-product.html" class="link">DivDojo</a> in <a href="product-two.html" class="link">Beauty</a>
                                    </p>
                                    <div class="review">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <div class="left-content">
                                    <h3 class="subtitle">$15</h3>
                                    <span>1735 Sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Unique Themes End  ======-->


    <!--====== Price & Plan Start  ======-->
    <section class="price plan">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-head">
                        <h2 class="title">Price & Plan</h2>
                        <p class="text">Anything embarrassing hidden in the middle of text. All the generators on the
                            Internet tend to repeat predefined necessary.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="link">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">
                                    Monthly
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="            se">Yearly</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 wow fadeInUp">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-box">
                                        <a href="#0" class="link">Basic Plan</a>
                                        <div class="icon">
                                            <img src="<%= asset_path("pricing-1.png") %>" alt="">
                                        </div>
                                        <h2 class="dolar"> <sub>$</sub>25</h2>
                                        <ul class="list">
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Theme update & Support</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Demo Content install</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>All Theme For LIfe</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fa fa-arrow-right"></i>
                                                <span>Acess All Theme</span>
                                            </li>
                                        </ul>
                                        <a href="#0" class="main-btn purchase">Purchase Now</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-box">
                                        <a href="#0" class="link active">Advance</a>
                                        <div class="icon active">
                                            <img src="<%= asset_path("pricing-2.png") %>" alt="">
                                        </div>
                                        <h2 class="dolar"><sub>$</sub>39</h2>
                                        <ul class="list">
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Demo Content install</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Theme update & Support</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Acess All Theme</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>All Theme For LIfe</span>
                                            </li>
                                        </ul>
                                        <a href="#0" class="main-btn purchase">Purchase Now</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-box">
                                        <a href="#0" class="link">Premium</a>
                                        <div class="icon">
                                            <img src="<%= asset_path("pricing-3.png") %>" alt="">
                                        </div>
                                        <h2 class="dolar"><sub>$</sub>44</h2>
                                        <ul class="list">
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>All Theme For Life</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Demo Content install</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Acess All Theme</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Theme update & Support</span>
                                            </li>
                                        </ul>
                                        <a href="#0" class="main-btn purchase">Purchase Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-box">
                                        <a href="#0" class="link">Basic Plan</a>
                                        <div class="icon">
                                            <img src="<%= asset_path("pricing-3.png") %>" alt="">
                                        </div>
                                        <h2 class="dolar"><sub>$</sub>45</h2>
                                        <ul class="list">
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>All Theme For LIfe</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Theme update & Support</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Demo Content install</span>
                                            </li>

                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Acess All Theme</span>
                                            </li>
                                        </ul>
                                        <a href="#0" class="main-btn purchase">Purchase Now</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-box">
                                        <a href="#0" class="link active">Advance</a>
                                        <div class="icon active">
                                            <img src="<%= asset_path("pricing-3.png") %>" alt="">
                                        </div>
                                        <h2 class="dolar"><sub>$</sub>69</h2>
                                        <ul class="list">
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Theme update & Support</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Demo Content install</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Acess All Theme</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>All Theme For LIfe</span>
                                            </li>
                                        </ul>
                                        <a href="#0" class="main-btn purchase">Purchase Now</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-box">
                                        <a href="#0" class="link">Premium</a>
                                        <div class="icon">
                                            <img src="<%= asset_path("pricing-1.png") %>" alt="">
                                        </div>
                                        <h2 class="dolar"><sub>$</sub>85</h2>
                                        <ul class="list">
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Demo Content install</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>All Theme For Life</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Acess All Theme</span>
                                            </li>
                                            <li class="list-item">
                                                <i class="fas fa-arrow-right"></i>
                                                <span>Theme update & Support</span>
                                            </li>
                                        </ul>
                                        <a href="#0" class="main-btn purchase">Purchase Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Price & Plan End  ======-->


    <!--====== Testomonial Start  ======-->
    <!--====== Testomonial End  ======-->


    <!--====== Blog Start  ======-->
    <!--====== Blog  End  ======-->

    <!--====== Footer Area START ======-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6 wow fadeInUp"  data-wow-delay="0.2s">
                    <div class="footer-box one">
                        <div class="logo">
                            <img src="<%= asset_path("logo.png") %>" alt="">
                        </div>
                        <div class="social">
                            <a href="#0"><i class="fab fa-instagram fa-lg"></i></a>
                            <%# <a href="#0"><i class="fab fa-twitter"></i></a>
                            <a href="#0"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#0"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#0"><i class="fab fa-instagram"></i></a> %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 wow fadeInUp"  data-wow-delay="0.3s">
                    <div class="footer-box two">
                        <h4 class="lasthead">Resources</h4>
                        <div class="footer-list">
                            <ul>
                                <li><a href="#0"> FAQ </a></li>
                                <li><a href="#0"> My account </a></li>
                                <li><a href="#0"> Contact Us </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-12  wow fadeInUp text-center">
                    <p class="text">Copyright &copy; 2022 Powered by Margevity</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--====== Footer Area END ======-->

    <!--====== Back to top start ======-->
    <div class="back-to-top">
        <a href="#0"> <i class="fas fa-arrow-up"></i> </a>
    </div>
    <!--====== Back to top start ======-->

</body>

</html>