<!DOCTYPE html>
<html lang="zxx">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--====== Title ======-->
    <title> Margevity </title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <!--==== Fontawesome ===-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet" />
</head>

<body>
    <!--====== Preloader Start ======-->
    <div id="preloader">
        <div class="loader-cubes">
            <div class="loader-cube1 loader-cube"></div>
            <div class="loader-cube2 loader-cube"></div>
            <div class="loader-cube4 loader-cube"></div>
            <div class="loader-cube3 loader-cube"></div>
        </div>
    </div>
    <!--====== Preloader End ======-->

    <!--====== Header Part Start ======-->
    <header class="header-one sticky-header">
        <div class="header-navigation">
            <div class="container-fluid d-flex align-items-center justify-content-between container-1470">
                <div class="header-left">
                    <div class="site-logo">
                        <a href="index.html"><img src="<%= asset_path("logo.png") %>" alt="Margevity"></a>
                    </div>
                </div>
                <div class="header-right d-flex align-items-center justify-content-end">
                    <div class="site-nav-menu">
                        <ul class="primary-menu">
                            <li class="current">
                                <a class="drop" href="#m-about">Our Services</a>
                                <%# <ul class="submenu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                </ul> %>
                            </li>
                            <li>
                                <a href="#m-partners">Our Partners</a>
                            </li>
                            <%# <li>
                                <a href="marktetplace.html">About Us</a>
                            </li> %>
                            <li>
                                <a href="mailto:margevity@gmail.com">Contact Us</a>
                            </li>
                        </ul>
                        <a href="#0" class="nav-close"><i class="fas fa-times"></i></a>
                    </div>
                    <div class="header-extra d-flex align-items-center">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--====== Header Part End ======-->


    <!--====== Banner Start ======-->
    <section class="banner">
        <div class="shape">
            <img src="<%= asset_path("banner/banner-shap-1.png") %>" class="shape-1" alt="banner-shap">
        </div>
        <div class="shape">
            <img src="<%= asset_path("banner/banner-shap-2.png") %>" class="shape-2" alt="banner-shap">
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="banner-content">
                        <h1 class="head">
                            Margevity. We are Digital Architects.
                        </h1>
                        <p class="text">
                            Welcome to Margevity where we help businesses find their Longevity. Take a look around and reach out to us when you're ready to take your business 
                            to the next level.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <%= link_to "Have an Idea?", customers_path, class: "btn btn-lg btn-primary", style: "color: white" %>
                                <%# <button class="main-btn icon"><i class="fas fa-search"></i></button> %>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 wow fadeInUp">
                    <div class="banner-icon">
                        <div class="icon icon-1"><img src="<%= asset_path("banner/icon-1.png") %>" alt="banner-icon"></div>
                        <div class="icon icon-2"><img src="<%= asset_path("banner/icon-2.png") %>" alt="banner-icon"></div>
                        <div class="icon icon-3"><img src="<%= asset_path("banner/icon-3.png") %>" alt="banner-icon"></div>
                        <div class="icon icon-4"><img src="<%= asset_path("banner/icon-4.png") %>" alt="banner-icon"></div>
                        <div class="icon icon-5"><img src="<%= asset_path("banner/icon-5.png") %>" alt="banner-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Banner End ======-->

    <!--====== Partners Start ======-->

    <!--====== Partners End ======-->

    <!--====== Category Start  ======-->
    <section class="category" id="m-about">
        <div class="container">
            <h2 class="title">Our Services</h2>
            <div class="row" >
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a class="thumb">
                            <img src="<%= asset_path("category-1.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Premium Websites
                                </a> 
                            </h4>
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-2.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Hosting
                                </a> 
                            </h4> 
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-3.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Social Media Management
                                </a> 
                            </h4>  
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-4.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Data Analytics & Compilation
                                </a> 
                            </h4>   
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-5.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Custom Logos & NFTs
                                </a> 
                            </h4>    
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp col-md-6">
                    <div class="category-box">
                        <a  class="thumb">
                            <img src="<%= asset_path("category-6.png") %>" alt="">
                        </a>
                        <div class="content">
                            <h4 class="lasthead">
                                <a class="link" class="link">
                                    Tailored Packages
                                </a> 
                            </h4>  
                            <a  class="link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Category End  ======-->
    <div class="partner" id="m-partners">
        <div class="container">
            <h2 class="title">Our Partners</h2>
            <div class="row">
                <div class="col-12 wow fadeInUp">
                    <div class="totalpartner owl-carousel owl-theme" style="display:flex; justify-content: space-around;">
                        <a href="#0" class="single item">
                            <img src="<%= asset_path("partner/partner-1.png") %>" alt="partner">
                        </a>
                        <a href="#0" class="single item">
                            <img src="<%= asset_path("partner/partner-2.png") %>" alt="partner">
                        </a>
                        <a href="#0" class="single item">
                            <img src="<%= asset_path("partner/partner-3.png") %>" alt="partner">
                        </a>
                        <%# <a href="#0" class="single item">
                            <img src="<%= asset_path("partner/partner-4.png") %" alt="partner">
                        </a> %>
                        <%# <a href="#0" class="single item">
                            <img src="<%= asset_path("partner/partner-5.png") %" alt="partner">
                        </a> %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Featured Start  ======-->
    <!--====== Featured End  ======-->


    <!--====== Unique Themes Start  ======-->
<%# <div class="partner">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeInUp">
                    <div class="totalpartner owl-carousel owl-theme">
                        <a href="#0" class="single item">
                            <img src="assets/images/partner/partner-1.png" alt="partner">
                        </a>
                        <a href="#0" class="single item">
                            <img src="assets/images/partner/partner-2.png" alt="partner">
                        </a>
                        <a href="#0" class="single item">
                            <img src="assets/images/partner/partner-3.png" alt="partner">
                        </a>
                        <a href="#0" class="single item">
                            <img src="assets/images/partner/partner-4.png" alt="partner">
                        </a>
                        <a href="#0" class="single item">
                            <img src="assets/images/partner/partner-5.png" alt="partner">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> %>

    <%# <section class="cta">
            <div class="cta-content">
                <div class="container px-5">
                    <h2 class="text-black display-1 lh-1 mb-4 head">
                        Ready to grow your brand?
                        <br />
                        Coming Soon.
                    </h2>
                    <h3 style="color: black">
                        Find out when we launch.
                    </h3>
                    <%# <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="https://startbootstrap.com/theme/new-age" target="_blank">Sign Up</a> %>
                <%# </div>
            </div>
        </section> %>
    <!--====== Price & Plan End  ======-->


    <!--====== Testomonial Start  ======-->
    <!--====== Testomonial End  ======-->


    <!--====== Blog Start  ======-->
    <!--====== Blog  End  ======-->

    <!--====== Footer Area START ======-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6 wow fadeInUp"  data-wow-delay="0.2s">
                    <div class="footer-box one">
                        <div class="logo">
                            <img src="<%= asset_path("logo.png") %>" alt="">
                        </div>
                        <div class="social">
                            <a href="#0"><i class="fab fa-instagram fa-lg"></i></a>
                            <%# <a href="#0"><i class="fab fa-twitter"></i></a>
                            <a href="#0"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#0"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#0"><i class="fab fa-instagram"></i></a> %>
                        </div>
                    </div>
                </div>
                <%# <div class="col-lg-2 col-md-6 wow fadeInUp"  data-wow-delay="0.3s">
                    <div class="footer-box two">
                        <h4 class="lasthead">Resources</h4>
                        <div class="footer-list">
                            <ul>
                                <li><a href="#0"> FAQ </a></li>
                                <li><a href="#0"> My account </a></li>
                                <li><a href="#0"> Contact Us </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> %>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-12  wow fadeInUp text-center">
                    <p class="text">Copyright &copy; 2022 Powered by Margevity</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--====== Footer Area END ======-->

    <!--====== Back to top start ======-->
    <div class="back-to-top">
        <a href="#0"> <i class="fas fa-arrow-up"></i> </a>
    </div>
    <!--====== Back to top start ======-->

</body>

</html>